# `Exploratory Data Analysis`

This document constitute the first part of the analysis for Sign Language Recognition from Google dataset. 
We will Explore first the data throw Exploratory Data Analysis, Visuals our data by creating some animated videos from the positional data, Examine further the data with the occurences of certain patterns throw Dictionary Frequency Analysis, and then Follow up with Preprocessing before going to modeling stage. (Where we will see later the PreNorm Transformer architecture)

### The preparation of the data is divided in 4 parts:

## *`Exploratory Data Analysis`* -> This notebook

### `Visuals`

### `Dictionary Frequency Analysis`

### `Preprocessing`



``FINDINGS :
``

based on the entire file of 160 000 rows(frames):

- Percentage of missing left hand  values: ``90.10%``

- Percentage of missing right hand values: ``50.50%``

- Percentage of rows with missing values for both left and right hand values for an identical frame : ``41.02%``

- The pose landmark seem to be calibrated differently than hand : they have more negative values, and values higher than 1

- When reduced to our features of interest (without face features), the file is reduced to a memory usage: ``138.6 MB`` for our total of 226 features : sequence_id, frame, 63 righthand,63 lefthand, 99 pose (ps all of the parquet file are about the same weight). We will later decide to keep only certain specific pose landmark such as arms reducing by about 20*3 landmark points.
-> Some of the missing data can be removed directly, including the case where we have no values of the hand at the beginning or the end of a clip

- There is exactly 1000 clip on the file. It is likely that the parquet file have been divided in 1000 clips each.

- The average number of frame is 160 per clip. The maximum being 488. (based on the maximum number of frame from each sequence_id +1 as we start from frame 0 ; the mean of the column would be unappropriate in this case)

Import necessaries libraries :

In [7]:
import pyarrow.parquet as pq
import pandas as pd

### *Let's Define below the name of the variant df we will be creating*

### Index of the df names : 

df : df of the entire parquet file unfiltered

cdf : as Columns of interests of our df : sequence_id, frame, (xyz)right_hand_(0 to 20), (xyz)left_hand_(0 to 20), (xyz)pose_(0 to 33)

reduced_df : as Reduced df with only 40107 rows of cdf if ever need to try some operations even faster (40 107 as wanted to have 40 000 and not to cut the sequence of frame)

#### ``test_df ``: as test df for a good understanding of missing values pattern from the entire parquet file with sequence_id, frame, 1 left hand landmark, 1 right hand landmark (We identified that when there is missing value for a hand, all of its landmark are missing ; there is no 'pose' landmark missing)

Let's have an overview of the data unfiltered (chose a random parquet file that we will keep all along ``'527708222'`` , i've open 3 parquet of the 68 total in the train set, they were similar in term of average/repartition frame per clip, number of rows, same features and therefore seem that clip are random on each parquet and this belief has been consolidated on this analysis)

In [16]:

# Replace 'path_to_file.parquet' with the actual file path on your system
# For the rest of this EDA we will focus on this file combining 1000 sequences. 
file_path = 'd:/Bureau/DS/aCapstone/527708222.parquet'

# Open the Parquet file using ParquetFile
parquet_file = pq.ParquetFile(file_path)

row_group_index = 0

# Read the specific row group from the Parquet file
row_group_table = parquet_file.read_row_group(row_group_index)

df = row_group_table.to_pandas()

df.head(10)

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1880607618,0,0.487255,0.492607,0.494152,0.480811,0.492845,0.494270,0.498394,0.368207,0.500288,...,-0.196956,-0.211209,-0.142313,-0.193477,-0.205450,-0.208683,-0.175401,-0.209275,-0.210895,-0.208162
1880607618,1,0.488399,0.492968,0.494502,0.480484,0.493159,0.494415,0.497935,0.367207,0.499401,...,-0.171502,-0.190701,-0.119451,-0.172471,-0.190162,-0.196562,-0.155715,-0.194636,-0.196822,-0.193751
1880607618,2,0.491521,0.493348,0.495074,0.480274,0.493283,0.494308,0.497388,0.367744,0.498564,...,-0.154713,-0.179518,-0.115403,-0.165406,-0.195193,-0.215218,-0.156990,-0.203963,-0.222674,-0.234745
1880607618,3,0.486116,0.488677,0.490791,0.475851,0.488651,0.489896,0.493834,0.366394,0.495337,...,-0.173814,-0.202558,-0.130080,-0.186153,-0.220297,-0.244129,-0.178186,-0.233190,-0.258209,-0.275004
1880607618,4,0.492289,0.495260,0.498130,0.480569,0.494592,0.494893,0.496912,0.366336,0.497359,...,-0.117347,-0.142112,-0.075403,-0.122787,-0.162759,-0.189201,-0.105377,-0.156895,-0.184629,-0.201269
1880607618,5,0.509225,0.505830,0.507423,0.489369,0.505046,0.504673,0.504471,0.366964,0.503673,...,-0.106575,-0.134838,-0.068661,-0.107393,-0.142445,-0.167589,-0.102564,-0.144277,-0.165639,-0.179552
1880607618,6,0.502408,0.504786,0.506150,0.489051,0.504134,0.503930,0.504243,0.370887,0.503841,...,-0.068458,-0.094906,-0.062629,-0.095716,-0.131119,-0.158647,-0.109830,-0.142800,-0.157586,-0.170328
1880607618,7,0.513588,0.497824,0.499674,0.483226,0.497445,0.497878,0.499962,0.372318,0.500624,...,-0.020596,-0.034042,-0.037462,-0.073540,-0.097971,-0.112151,-0.088628,-0.126112,-0.132545,-0.133995
1880607618,8,0.502060,0.494293,0.496561,0.480990,0.494168,0.495263,0.498975,0.373701,0.500522,...,-0.076957,-0.088459,-0.052694,-0.104890,-0.119799,-0.118821,-0.091256,-0.131648,-0.132252,-0.124047
1880607618,9,0.499675,0.495972,0.497619,0.483518,0.496170,0.497546,0.501574,0.374990,0.503455,...,-0.102577,-0.116311,-0.064349,-0.115797,-0.132613,-0.138164,-0.101294,-0.144256,-0.145417,-0.139761

In [18]:
# Get the names of all columns
all_column_names = df.columns.tolist()

# Print all 1600 column names
print(all_column_names)

['frame', 'x_face_0', 'x_face_1', 'x_face_2', 'x_face_3', 'x_face_4', 'x_face_5', 'x_face_6', 'x_face_7', 'x_face_8', 'x_face_9', 'x_face_10', 'x_face_11', 'x_face_12', 'x_face_13', 'x_face_14', 'x_face_15', 'x_face_16', 'x_face_17', 'x_face_18', 'x_face_19', 'x_face_20', 'x_face_21', 'x_face_22', 'x_face_23', 'x_face_24', 'x_face_25', 'x_face_26', 'x_face_27', 'x_face_28', 'x_face_29', 'x_face_30', 'x_face_31', 'x_face_32', 'x_face_33', 'x_face_34', 'x_face_35', 'x_face_36', 'x_face_37', 'x_face_38', 'x_face_39', 'x_face_40', 'x_face_41', 'x_face_42', 'x_face_43', 'x_face_44', 'x_face_45', 'x_face_46', 'x_face_47', 'x_face_48', 'x_face_49', 'x_face_50', 'x_face_51', 'x_face_52', 'x_face_53', 'x_face_54', 'x_face_55', 'x_face_56', 'x_face_57', 'x_face_58', 'x_face_59', 'x_face_60', 'x_face_61', 'x_face_62', 'x_face_63', 'x_face_64', 'x_face_65', 'x_face_66', 'x_face_67', 'x_face_68', 'x_face_69', 'x_face_70', 'x_face_71', 'x_face_72', 'x_face_73', 'x_face_74', 'x_face_75', 'x_face_76', 'x_face_77', 'x_face_78', 'x_face_79', 'x_face_80', 'x_face_81', 'x_face_82', 'x_face_83', 'x_face_84', 'x_face_85', 'x_face_86', 'x_face_87', 'x_face_88', 'x_face_89', 'x_face_90', 'x_face_91', 'x_face_92', 'x_face_93', 'x_face_94', 'x_face_95', 'x_face_96', 'x_face_97', 'x_face_98', 'x_face_99', 'x_face_100', 'x_face_101', 'x_face_102', 'x_face_103', 'x_face_104', 'x_face_105', 'x_face_106', 'x_face_107', 'x_face_108', 'x_face_109', 'x_face_110', 'x_face_111', 'x_face_112', 'x_face_113', 'x_face_114', 'x_face_115', 'x_face_116', 'x_face_117', 'x_face_118', 'x_face_119', 'x_face_120', 'x_face_121', 'x_face_122', 'x_face_123', 'x_face_124', 'x_face_125', 'x_face_126', 'x_face_127', 'x_face_128', 'x_face_129', 'x_face_130', 'x_face_131', 'x_face_132', 'x_face_133', 'x_face_134', 'x_face_135', 'x_face_136', 'x_face_137', 'x_face_138', 'x_face_139', 'x_face_140', 'x_face_141', 'x_face_142', 'x_face_143', 'x_face_144', 'x_face_145', 'x_face_146', 'x_face_147', 'x_face_148', 'x_face_149', 'x_face_150', 'x_face_151', 'x_face_152', 'x_face_153', 'x_face_154', 'x_face_155', 'x_face_156', 'x_face_157', 'x_face_158', 'x_face_159', 'x_face_160', 'x_face_161', 'x_face_162', 'x_face_163', 'x_face_164', 'x_face_165', 'x_face_166', 'x_face_167', 'x_face_168', 'x_face_169', 'x_face_170', 'x_face_171', 'x_face_172', 'x_face_173', 'x_face_174', 'x_face_175', 'x_face_176', 'x_face_177', 'x_face_178', 'x_face_179', 'x_face_180', 'x_face_181', 'x_face_182', 'x_face_183', 'x_face_184', 'x_face_185', 'x_face_186', 'x_face_187', 'x_face_188', 'x_face_189', 'x_face_190', 'x_face_191', 'x_face_192', 'x_face_193', 'x_face_194', 'x_face_195', 'x_face_196', 'x_face_197', 'x_face_198', 'x_face_199', 'x_face_200', 'x_face_201', 'x_face_202', 'x_face_203', 'x_face_204', 'x_face_205', 'x_face_206', 'x_face_207', 'x_face_208', 'x_face_209', 'x_face_210', 'x_face_211', 'x_face_212', 'x_face_213', 'x_face_214', 'x_face_215', 'x_face_216', 'x_face_217', 'x_face_218', 'x_face_219', 'x_face_220', 'x_face_221', 'x_face_222', 'x_face_223', 'x_face_224', 'x_face_225', 'x_face_226', 'x_face_227', 'x_face_228', 'x_face_229', 'x_face_230', 'x_face_231', 'x_face_232', 'x_face_233', 'x_face_234', 'x_face_235', 'x_face_236', 'x_face_237', 'x_face_238', 'x_face_239', 'x_face_240', 'x_face_241', 'x_face_242', 'x_face_243', 'x_face_244', 'x_face_245', 'x_face_246', 'x_face_247', 'x_face_248', 'x_face_249', 'x_face_250', 'x_face_251', 'x_face_252', 'x_face_253', 'x_face_254', 'x_face_255', 'x_face_256', 'x_face_257', 'x_face_258', 'x_face_259', 'x_face_260', 'x_face_261', 'x_face_262', 'x_face_263', 'x_face_264', 'x_face_265', 'x_face_266', 'x_face_267', 'x_face_268', 'x_face_269', 'x_face_270', 'x_face_271', 'x_face_272', 'x_face_273', 'x_face_274', 'x_face_275', 'x_face_276', 'x_face_277', 'x_face_278', 'x_face_279', 'x_face_280', 'x_face_281', 'x_face_282', 'x_face_283', 'x_face_284', 'x_face_285', 'x_face_286', 'x_face_287', 'x_face_288', 'x_face_289', 'x_face_290', 'x_face_291', 'x_face_292', 'x_face_293', 'x_face_294', 'x_face_295', 'x_face_296', 'x_face_297', 'x_face_298', 'x_face_299', 'x_face_300', 'x_face_301', 'x_face_302', 'x_face_303', 'x_face_304', 'x_face_305', 'x_face_306', 'x_face_307', 'x_face_308', 'x_face_309', 'x_face_310', 'x_face_311', 'x_face_312', 'x_face_313', 'x_face_314', 'x_face_315', 'x_face_316', 'x_face_317', 'x_face_318', 'x_face_319', 'x_face_320', 'x_face_321', 'x_face_322', 'x_face_323', 'x_face_324', 'x_face_325', 'x_face_326', 'x_face_327', 'x_face_328', 'x_face_329', 'x_face_330', 'x_face_331', 'x_face_332', 'x_face_333', 'x_face_334', 'x_face_335', 'x_face_336', 'x_face_337', 'x_face_338', 'x_face_339', 'x_face_340', 'x_face_341', 'x_face_342', 'x_face_343', 'x_face_344', 'x_face_345', 'x_face_346', 'x_face_347', 'x_face_348', 'x_face_349', 'x_face_350', 'x_face_351', 'x_face_352', 'x_face_353', 'x_face_354', 'x_face_355', 'x_face_356', 'x_face_357', 'x_face_358', 'x_face_359', 'x_face_360', 'x_face_361', 'x_face_362', 'x_face_363', 'x_face_364', 'x_face_365', 'x_face_366', 'x_face_367', 'x_face_368', 'x_face_369', 'x_face_370', 'x_face_371', 'x_face_372', 'x_face_373', 'x_face_374', 'x_face_375', 'x_face_376', 'x_face_377', 'x_face_378', 'x_face_379', 'x_face_380', 'x_face_381', 'x_face_382', 'x_face_383', 'x_face_384', 'x_face_385', 'x_face_386', 'x_face_387', 'x_face_388', 'x_face_389', 'x_face_390', 'x_face_391', 'x_face_392', 'x_face_393', 'x_face_394', 'x_face_395', 'x_face_396', 'x_face_397', 'x_face_398', 'x_face_399', 'x_face_400', 'x_face_401', 'x_face_402', 'x_face_403', 'x_face_404', 'x_face_405', 'x_face_406', 'x_face_407', 'x_face_408', 'x_face_409', 'x_face_410', 'x_face_411', 'x_face_412', 'x_face_413', 'x_face_414', 'x_face_415', 'x_face_416', 'x_face_417', 'x_face_418', 'x_face_419', 'x_face_420', 'x_face_421', 'x_face_422', 'x_face_423', 'x_face_424', 'x_face_425', 'x_face_426', 'x_face_427', 'x_face_428', 'x_face_429', 'x_face_430', 'x_face_431', 'x_face_432', 'x_face_433', 'x_face_434', 'x_face_435', 'x_face_436', 'x_face_437', 'x_face_438', 'x_face_439', 'x_face_440', 'x_face_441', 'x_face_442', 'x_face_443', 'x_face_444', 'x_face_445', 'x_face_446', 'x_face_447', 'x_face_448', 'x_face_449', 'x_face_450', 'x_face_451', 'x_face_452', 'x_face_453', 'x_face_454', 'x_face_455', 'x_face_456', 'x_face_457', 'x_face_458', 'x_face_459', 'x_face_460', 'x_face_461', 'x_face_462', 'x_face_463', 'x_face_464', 'x_face_465', 'x_face_466', 'x_face_467', 'x_left_hand_0', 'x_left_hand_1', 'x_left_hand_2', 'x_left_hand_3', 'x_left_hand_4', 'x_left_hand_5', 'x_left_hand_6', 'x_left_hand_7', 'x_left_hand_8', 'x_left_hand_9', 'x_left_hand_10', 'x_left_hand_11', 'x_left_hand_12', 'x_left_hand_13', 'x_left_hand_14', 'x_left_hand_15', 'x_left_hand_16', 'x_left_hand_17', 'x_left_hand_18', 'x_left_hand_19', 'x_left_hand_20', 'x_pose_0', 'x_pose_1', 'x_pose_2', 'x_pose_3', 'x_pose_4', 'x_pose_5', 'x_pose_6', 'x_pose_7', 'x_pose_8', 'x_pose_9', 'x_pose_10', 'x_pose_11', 'x_pose_12', 'x_pose_13', 'x_pose_14', 'x_pose_15', 'x_pose_16', 'x_pose_17', 'x_pose_18', 'x_pose_19', 'x_pose_20', 'x_pose_21', 'x_pose_22', 'x_pose_23', 'x_pose_24', 'x_pose_25', 'x_pose_26', 'x_pose_27', 'x_pose_28', 'x_pose_29', 'x_pose_30', 'x_pose_31', 'x_pose_32', 'x_right_hand_0', 'x_right_hand_1', 'x_right_hand_2', 'x_right_hand_3', 'x_right_hand_4', 'x_right_hand_5', 'x_right_hand_6', 'x_right_hand_7', 'x_right_hand_8', 'x_right_hand_9', 'x_right_hand_10', 'x_right_hand_11', 'x_right_hand_12', 'x_right_hand_13', 'x_right_hand_14', 'x_right_hand_15', 'x_right_hand_16', 'x_right_hand_17', 'x_right_hand_18', 'x_right_hand_19', 'x_right_hand_20', 'y_face_0', 'y_face_1', 'y_face_2', 'y_face_3', 'y_face_4', 'y_face_5', 'y_face_6', 'y_face_7', 'y_face_8', 'y_face_9', 'y_face_10', 'y_face_11', 'y_face_12', 'y_face_13', 'y_face_14', 'y_face_15', 'y_face_16', 'y_face_17', 'y_face_18', 'y_face_19', 'y_face_20', 'y_face_21', 'y_face_22', 'y_face_23', 'y_face_24', 'y_face_25', 'y_face_26', 'y_face_27', 'y_face_28', 'y_face_29', 'y_face_30', 'y_face_31', 'y_face_32', 'y_face_33', 'y_face_34', 'y_face_35', 'y_face_36', 'y_face_37', 'y_face_38', 'y_face_39', 'y_face_40', 'y_face_41', 'y_face_42', 'y_face_43', 'y_face_44', 'y_face_45', 'y_face_46', 'y_face_47', 'y_face_48', 'y_face_49', 'y_face_50', 'y_face_51', 'y_face_52', 'y_face_53', 'y_face_54', 'y_face_55', 'y_face_56', 'y_face_57', 'y_face_58', 'y_face_59', 'y_face_60', 'y_face_61', 'y_face_62', 'y_face_63', 'y_face_64', 'y_face_65', 'y_face_66', 'y_face_67', 'y_face_68', 'y_face_69', 'y_face_70', 'y_face_71', 'y_face_72', 'y_face_73', 'y_face_74', 'y_face_75', 'y_face_76', 'y_face_77', 'y_face_78', 'y_face_79', 'y_face_80', 'y_face_81', 'y_face_82', 'y_face_83', 'y_face_84', 'y_face_85', 'y_face_86', 'y_face_87', 'y_face_88', 'y_face_89', 'y_face_90', 'y_face_91', 'y_face_92', 'y_face_93', 'y_face_94', 'y_face_95', 'y_face_96', 'y_face_97', 'y_face_98', 'y_face_99', 'y_face_100', 'y_face_101', 'y_face_102', 'y_face_103', 'y_face_104', 'y_face_105', 'y_face_106', 'y_face_107', 'y_face_108', 'y_face_109', 'y_face_110', 'y_face_111', 'y_face_112', 'y_face_113', 'y_face_114', 'y_face_115', 'y_face_116', 'y_face_117', 'y_face_118', 'y_face_119', 'y_face_120', 'y_face_121', 'y_face_122', 'y_face_123', 'y_face_124', 'y_face_125', 'y_face_126', 'y_face_127', 'y_face_128', 'y_face_129', 'y_face_130', 'y_face_131', 'y_face_132', 'y_face_133', 'y_face_134', 'y_face_135', 'y_face_136', 'y_face_137', 'y_face_138', 'y_face_139', 'y_face_140', 'y_face_141', 'y_face_142', 'y_face_143', 'y_face_144', 'y_face_145', 'y_face_146', 'y_face_147', 'y_face_148', 'y_face_149', 'y_face_150', 'y_face_151', 'y_face_152', 'y_face_153', 'y_face_154', 'y_face_155', 'y_face_156', 'y_face_157', 'y_face_158', 'y_face_159', 'y_face_160', 'y_face_161', 'y_face_162', 'y_face_163', 'y_face_164', 'y_face_165', 'y_face_166', 'y_face_167', 'y_face_168', 'y_face_169', 'y_face_170', 'y_face_171', 'y_face_172', 'y_face_173', 'y_face_174', 'y_face_175', 'y_face_176', 'y_face_177', 'y_face_178', 'y_face_179', 'y_face_180', 'y_face_181', 'y_face_182', 'y_face_183', 'y_face_184', 'y_face_185', 'y_face_186', 'y_face_187', 'y_face_188', 'y_face_189', 'y_face_190', 'y_face_191', 'y_face_192', 'y_face_193', 'y_face_194', 'y_face_195', 'y_face_196', 'y_face_197', 'y_face_198', 'y_face_199', 'y_face_200', 'y_face_201', 'y_face_202', 'y_face_203', 'y_face_204', 'y_face_205', 'y_face_206', 'y_face_207', 'y_face_208', 'y_face_209', 'y_face_210', 'y_face_211', 'y_face_212', 'y_face_213', 'y_face_214', 'y_face_215', 'y_face_216', 'y_face_217', 'y_face_218', 'y_face_219', 'y_face_220', 'y_face_221', 'y_face_222', 'y_face_223', 'y_face_224', 'y_face_225', 'y_face_226', 'y_face_227', 'y_face_228', 'y_face_229', 'y_face_230', 'y_face_231', 'y_face_232', 'y_face_233', 'y_face_234', 'y_face_235', 'y_face_236', 'y_face_237', 'y_face_238', 'y_face_239', 'y_face_240', 'y_face_241', 'y_face_242', 'y_face_243', 'y_face_244', 'y_face_245', 'y_face_246', 'y_face_247', 'y_face_248', 'y_face_249', 'y_face_250', 'y_face_251', 'y_face_252', 'y_face_253', 'y_face_254', 'y_face_255', 'y_face_256', 'y_face_257', 'y_face_258', 'y_face_259', 'y_face_260', 'y_face_261', 'y_face_262', 'y_face_263', 'y_face_264', 'y_face_265', 'y_face_266', 'y_face_267', 'y_face_268', 'y_face_269', 'y_face_270', 'y_face_271', 'y_face_272', 'y_face_273', 'y_face_274', 'y_face_275', 'y_face_276', 'y_face_277', 'y_face_278', 'y_face_279', 'y_face_280', 'y_face_281', 'y_face_282', 'y_face_283', 'y_face_284', 'y_face_285', 'y_face_286', 'y_face_287', 'y_face_288', 'y_face_289', 'y_face_290', 'y_face_291', 'y_face_292', 'y_face_293', 'y_face_294', 'y_face_295', 'y_face_296', 'y_face_297', 'y_face_298', 'y_face_299', 'y_face_300', 'y_face_301', 'y_face_302', 'y_face_303', 'y_face_304', 'y_face_305', 'y_face_306', 'y_face_307', 'y_face_308', 'y_face_309', 'y_face_310', 'y_face_311', 'y_face_312', 'y_face_313', 'y_face_314', 'y_face_315', 'y_face_316', 'y_face_317', 'y_face_318', 'y_face_319', 'y_face_320', 'y_face_321', 'y_face_322', 'y_face_323', 'y_face_324', 'y_face_325', 'y_face_326', 'y_face_327', 'y_face_328', 'y_face_329', 'y_face_330', 'y_face_331', 'y_face_332', 'y_face_333', 'y_face_334', 'y_face_335', 'y_face_336', 'y_face_337', 'y_face_338', 'y_face_339', 'y_face_340', 'y_face_341', 'y_face_342', 'y_face_343', 'y_face_344', 'y_face_345', 'y_face_346', 'y_face_347', 'y_face_348', 'y_face_349', 'y_face_350', 'y_face_351', 'y_face_352', 'y_face_353', 'y_face_354', 'y_face_355', 'y_face_356', 'y_face_357', 'y_face_358', 'y_face_359', 'y_face_360', 'y_face_361', 'y_face_362', 'y_face_363', 'y_face_364', 'y_face_365', 'y_face_366', 'y_face_367', 'y_face_368', 'y_face_369', 'y_face_370', 'y_face_371', 'y_face_372', 'y_face_373', 'y_face_374', 'y_face_375', 'y_face_376', 'y_face_377', 'y_face_378', 'y_face_379', 'y_face_380', 'y_face_381', 'y_face_382', 'y_face_383', 'y_face_384', 'y_face_385', 'y_face_386', 'y_face_387', 'y_face_388', 'y_face_389', 'y_face_390', 'y_face_391', 'y_face_392', 'y_face_393', 'y_face_394', 'y_face_395', 'y_face_396', 'y_face_397', 'y_face_398', 'y_face_399', 'y_face_400', 'y_face_401', 'y_face_402', 'y_face_403', 'y_face_404', 'y_face_405', 'y_face_406', 'y_face_407', 'y_face_408', 'y_face_409', 'y_face_410', 'y_face_411', 'y_face_412', 'y_face_413', 'y_face_414', 'y_face_415', 'y_face_416', 'y_face_417', 'y_face_418', 'y_face_419', 'y_face_420', 'y_face_421', 'y_face_422', 'y_face_423', 'y_face_424', 'y_face_425', 'y_face_426', 'y_face_427', 'y_face_428', 'y_face_429', 'y_face_430', 'y_face_431', 'y_face_432', 'y_face_433', 'y_face_434', 'y_face_435', 'y_face_436', 'y_face_437', 'y_face_438', 'y_face_439', 'y_face_440', 'y_face_441', 'y_face_442', 'y_face_443', 'y_face_444', 'y_face_445', 'y_face_446', 'y_face_447', 'y_face_448', 'y_face_449', 'y_face_450', 'y_face_451', 'y_face_452', 'y_face_453', 'y_face_454', 'y_face_455', 'y_face_456', 'y_face_457', 'y_face_458', 'y_face_459', 'y_face_460', 'y_face_461', 'y_face_462', 'y_face_463', 'y_face_464', 'y_face_465', 'y_face_466', 'y_face_467', 'y_left_hand_0', 'y_left_hand_1', 'y_left_hand_2', 'y_left_hand_3', 'y_left_hand_4', 'y_left_hand_5', 'y_left_hand_6', 'y_left_hand_7', 'y_left_hand_8', 'y_left_hand_9', 'y_left_hand_10', 'y_left_hand_11', 'y_left_hand_12', 'y_left_hand_13', 'y_left_hand_14', 'y_left_hand_15', 'y_left_hand_16', 'y_left_hand_17', 'y_left_hand_18', 'y_left_hand_19', 'y_left_hand_20', 'y_pose_0', 'y_pose_1', 'y_pose_2', 'y_pose_3', 'y_pose_4', 'y_pose_5', 'y_pose_6', 'y_pose_7', 'y_pose_8', 'y_pose_9', 'y_pose_10', 'y_pose_11', 'y_pose_12', 'y_pose_13', 'y_pose_14', 'y_pose_15', 'y_pose_16', 'y_pose_17', 'y_pose_18', 'y_pose_19', 'y_pose_20', 'y_pose_21', 'y_pose_22', 'y_pose_23', 'y_pose_24', 'y_pose_25', 'y_pose_26', 'y_pose_27', 'y_pose_28', 'y_pose_29', 'y_pose_30', 'y_pose_31', 'y_pose_32', 'y_right_hand_0', 'y_right_hand_1', 'y_right_hand_2', 'y_right_hand_3', 'y_right_hand_4', 'y_right_hand_5', 'y_right_hand_6', 'y_right_hand_7', 'y_right_hand_8', 'y_right_hand_9', 'y_right_hand_10', 'y_right_hand_11', 'y_right_hand_12', 'y_right_hand_13', 'y_right_hand_14', 'y_right_hand_15', 'y_right_hand_16', 'y_right_hand_17', 'y_right_hand_18', 'y_right_hand_19', 'y_right_hand_20', 'z_face_0', 'z_face_1', 'z_face_2', 'z_face_3', 'z_face_4', 'z_face_5', 'z_face_6', 'z_face_7', 'z_face_8', 'z_face_9', 'z_face_10', 'z_face_11', 'z_face_12', 'z_face_13', 'z_face_14', 'z_face_15', 'z_face_16', 'z_face_17', 'z_face_18', 'z_face_19', 'z_face_20', 'z_face_21', 'z_face_22', 'z_face_23', 'z_face_24', 'z_face_25', 'z_face_26', 'z_face_27', 'z_face_28', 'z_face_29', 'z_face_30', 'z_face_31', 'z_face_32', 'z_face_33', 'z_face_34', 'z_face_35', 'z_face_36', 'z_face_37', 'z_face_38', 'z_face_39', 'z_face_40', 'z_face_41', 'z_face_42', 'z_face_43', 'z_face_44', 'z_face_45', 'z_face_46', 'z_face_47', 'z_face_48', 'z_face_49', 'z_face_50', 'z_face_51', 'z_face_52', 'z_face_53', 'z_face_54', 'z_face_55', 'z_face_56', 'z_face_57', 'z_face_58', 'z_face_59', 'z_face_60', 'z_face_61', 'z_face_62', 'z_face_63', 'z_face_64', 'z_face_65', 'z_face_66', 'z_face_67', 'z_face_68', 'z_face_69', 'z_face_70', 'z_face_71', 'z_face_72', 'z_face_73', 'z_face_74', 'z_face_75', 'z_face_76', 'z_face_77', 'z_face_78', 'z_face_79', 'z_face_80', 'z_face_81', 'z_face_82', 'z_face_83', 'z_face_84', 'z_face_85', 'z_face_86', 'z_face_87', 'z_face_88', 'z_face_89', 'z_face_90', 'z_face_91', 'z_face_92', 'z_face_93', 'z_face_94', 'z_face_95', 'z_face_96', 'z_face_97', 'z_face_98', 'z_face_99', 'z_face_100', 'z_face_101', 'z_face_102', 'z_face_103', 'z_face_104', 'z_face_105', 'z_face_106', 'z_face_107', 'z_face_108', 'z_face_109', 'z_face_110', 'z_face_111', 'z_face_112', 'z_face_113', 'z_face_114', 'z_face_115', 'z_face_116', 'z_face_117', 'z_face_118', 'z_face_119', 'z_face_120', 'z_face_121', 'z_face_122', 'z_face_123', 'z_face_124', 'z_face_125', 'z_face_126', 'z_face_127', 'z_face_128', 'z_face_129', 'z_face_130', 'z_face_131', 'z_face_132', 'z_face_133', 'z_face_134', 'z_face_135', 'z_face_136', 'z_face_137', 'z_face_138', 'z_face_139', 'z_face_140', 'z_face_141', 'z_face_142', 'z_face_143', 'z_face_144', 'z_face_145', 'z_face_146', 'z_face_147', 'z_face_148', 'z_face_149', 'z_face_150', 'z_face_151', 'z_face_152', 'z_face_153', 'z_face_154', 'z_face_155', 'z_face_156', 'z_face_157', 'z_face_158', 'z_face_159', 'z_face_160', 'z_face_161', 'z_face_162', 'z_face_163', 'z_face_164', 'z_face_165', 'z_face_166', 'z_face_167', 'z_face_168', 'z_face_169', 'z_face_170', 'z_face_171', 'z_face_172', 'z_face_173', 'z_face_174', 'z_face_175', 'z_face_176', 'z_face_177', 'z_face_178', 'z_face_179', 'z_face_180', 'z_face_181', 'z_face_182', 'z_face_183', 'z_face_184', 'z_face_185', 'z_face_186', 'z_face_187', 'z_face_188', 'z_face_189', 'z_face_190', 'z_face_191', 'z_face_192', 'z_face_193', 'z_face_194', 'z_face_195', 'z_face_196', 'z_face_197', 'z_face_198', 'z_face_199', 'z_face_200', 'z_face_201', 'z_face_202', 'z_face_203', 'z_face_204', 'z_face_205', 'z_face_206', 'z_face_207', 'z_face_208', 'z_face_209', 'z_face_210', 'z_face_211', 'z_face_212', 'z_face_213', 'z_face_214', 'z_face_215', 'z_face_216', 'z_face_217', 'z_face_218', 'z_face_219', 'z_face_220', 'z_face_221', 'z_face_222', 'z_face_223', 'z_face_224', 'z_face_225', 'z_face_226', 'z_face_227', 'z_face_228', 'z_face_229', 'z_face_230', 'z_face_231', 'z_face_232', 'z_face_233', 'z_face_234', 'z_face_235', 'z_face_236', 'z_face_237', 'z_face_238', 'z_face_239', 'z_face_240', 'z_face_241', 'z_face_242', 'z_face_243', 'z_face_244', 'z_face_245', 'z_face_246', 'z_face_247', 'z_face_248', 'z_face_249', 'z_face_250', 'z_face_251', 'z_face_252', 'z_face_253', 'z_face_254', 'z_face_255', 'z_face_256', 'z_face_257', 'z_face_258', 'z_face_259', 'z_face_260', 'z_face_261', 'z_face_262', 'z_face_263', 'z_face_264', 'z_face_265', 'z_face_266', 'z_face_267', 'z_face_268', 'z_face_269', 'z_face_270', 'z_face_271', 'z_face_272', 'z_face_273', 'z_face_274', 'z_face_275', 'z_face_276', 'z_face_277', 'z_face_278', 'z_face_279', 'z_face_280', 'z_face_281', 'z_face_282', 'z_face_283', 'z_face_284', 'z_face_285', 'z_face_286', 'z_face_287', 'z_face_288', 'z_face_289', 'z_face_290', 'z_face_291', 'z_face_292', 'z_face_293', 'z_face_294', 'z_face_295', 'z_face_296', 'z_face_297', 'z_face_298', 'z_face_299', 'z_face_300', 'z_face_301', 'z_face_302', 'z_face_303', 'z_face_304', 'z_face_305', 'z_face_306', 'z_face_307', 'z_face_308', 'z_face_309', 'z_face_310', 'z_face_311', 'z_face_312', 'z_face_313', 'z_face_314', 'z_face_315', 'z_face_316', 'z_face_317', 'z_face_318', 'z_face_319', 'z_face_320', 'z_face_321', 'z_face_322', 'z_face_323', 'z_face_324', 'z_face_325', 'z_face_326', 'z_face_327', 'z_face_328', 'z_face_329', 'z_face_330', 'z_face_331', 'z_face_332', 'z_face_333', 'z_face_334', 'z_face_335', 'z_face_336', 'z_face_337', 'z_face_338', 'z_face_339', 'z_face_340', 'z_face_341', 'z_face_342', 'z_face_343', 'z_face_344', 'z_face_345', 'z_face_346', 'z_fac

We can observe and confirm that the data are : 
- the sequence_id that we will use with the landmark file to determine what this clip label is
- the frame of the clip
- the 4 features being 468 * 3 face, 21 * 3 left hand, 21 * 3 right hand, 33 * 3 pose 'where 3 is xyz dimensions'; We have determine that the face landmark won't be useful for us in alphabet ASL and will largely speed up the process

In [26]:
#For later : 
#print("TensorFlow v" + tf.__version__)
#print("Mediapipe v" + mediapipe.__version__)

We will below select the landmark interesting in our case. Removing Face landmarks and potentially removing pose landmarks.

In [29]:
columns_of_interest = ['sequence_id',
'frame',
'x_right_hand_0', 'x_right_hand_1', 'x_right_hand_2', 'x_right_hand_3', 'x_right_hand_4', 'x_right_hand_5', 'x_right_hand_6', 'x_right_hand_7', 'x_right_hand_8', 'x_right_hand_9', 'x_right_hand_10', 'x_right_hand_11', 'x_right_hand_12', 'x_right_hand_13', 'x_right_hand_14', 'x_right_hand_15', 'x_right_hand_16', 'x_right_hand_17', 'x_right_hand_18', 'x_right_hand_19', 'x_right_hand_20',
'y_right_hand_0', 'y_right_hand_1', 'y_right_hand_2', 'y_right_hand_3', 'y_right_hand_4', 'y_right_hand_5', 'y_right_hand_6', 'y_right_hand_7', 'y_right_hand_8', 'y_right_hand_9', 'y_right_hand_10', 'y_right_hand_11', 'y_right_hand_12', 'y_right_hand_13', 'y_right_hand_14', 'y_right_hand_15', 'y_right_hand_16', 'y_right_hand_17', 'y_right_hand_18', 'y_right_hand_19', 'y_right_hand_20',
'z_right_hand_0', 'z_right_hand_1', 'z_right_hand_2', 'z_right_hand_3', 'z_right_hand_4', 'z_right_hand_5', 'z_right_hand_6', 'z_right_hand_7', 'z_right_hand_8', 'z_right_hand_9', 'z_right_hand_10', 'z_right_hand_11', 'z_right_hand_12', 'z_right_hand_13', 'z_right_hand_14', 'z_right_hand_15', 'z_right_hand_16', 'z_right_hand_17', 'z_right_hand_18', 'z_right_hand_19', 'z_right_hand_20',
'x_left_hand_0', 'x_left_hand_1', 'x_left_hand_2', 'x_left_hand_3', 'x_left_hand_4', 'x_left_hand_5', 'x_left_hand_6', 'x_left_hand_7', 'x_left_hand_8', 'x_left_hand_9', 'x_left_hand_10', 'x_left_hand_11', 'x_left_hand_12', 'x_left_hand_13', 'x_left_hand_14', 'x_left_hand_15', 'x_left_hand_16', 'x_left_hand_17', 'x_left_hand_18', 'x_left_hand_19', 'x_left_hand_20',
'y_left_hand_0', 'y_left_hand_1', 'y_left_hand_2', 'y_left_hand_3', 'y_left_hand_4', 'y_left_hand_5', 'y_left_hand_6', 'y_left_hand_7', 'y_left_hand_8', 'y_left_hand_9', 'y_left_hand_10', 'y_left_hand_11', 'y_left_hand_12', 'y_left_hand_13', 'y_left_hand_14', 'y_left_hand_15', 'y_left_hand_16', 'y_left_hand_17', 'y_left_hand_18', 'y_left_hand_19', 'y_left_hand_20',
'z_left_hand_0', 'z_left_hand_1', 'z_left_hand_2', 'z_left_hand_3', 'z_left_hand_4', 'z_left_hand_5', 'z_left_hand_6', 'z_left_hand_7', 'z_left_hand_8', 'z_left_hand_9', 'z_left_hand_10', 'z_left_hand_11', 'z_left_hand_12', 'z_left_hand_13', 'z_left_hand_14', 'z_left_hand_15', 'z_left_hand_16', 'z_left_hand_17', 'z_left_hand_18', 'z_left_hand_19', 'z_left_hand_20',
'x_pose_0', 'x_pose_1', 'x_pose_2', 'x_pose_3', 'x_pose_4', 'x_pose_5', 'x_pose_6', 'x_pose_7', 'x_pose_8', 'x_pose_9', 'x_pose_10', 'x_pose_11', 'x_pose_12', 'x_pose_13', 'x_pose_14', 'x_pose_15', 'x_pose_16', 'x_pose_17', 'x_pose_18', 'x_pose_19', 'x_pose_20', 'x_pose_21', 'x_pose_22', 'x_pose_23', 'x_pose_24', 'x_pose_25', 'x_pose_26', 'x_pose_27', 'x_pose_28', 'x_pose_29', 'x_pose_30', 'x_pose_31', 'x_pose_32',
'y_pose_0', 'y_pose_1', 'y_pose_2', 'y_pose_3', 'y_pose_4', 'y_pose_5', 'y_pose_6', 'y_pose_7', 'y_pose_8', 'y_pose_9', 'y_pose_10', 'y_pose_11', 'y_pose_12', 'y_pose_13', 'y_pose_14', 'y_pose_15', 'y_pose_16', 'y_pose_17', 'y_pose_18', 'y_pose_19', 'y_pose_20', 'y_pose_21', 'y_pose_22', 'y_pose_23', 'y_pose_24', 'y_pose_25', 'y_pose_26', 'y_pose_27', 'y_pose_28', 'y_pose_29', 'y_pose_30', 'y_pose_31', 'y_pose_32',
'z_pose_0', 'z_pose_1', 'z_pose_2', 'z_pose_3', 'z_pose_4', 'z_pose_5', 'z_pose_6', 'z_pose_7', 'z_pose_8', 'z_pose_9', 'z_pose_10', 'z_pose_11', 'z_pose_12', 'z_pose_13', 'z_pose_14', 'z_pose_15', 'z_pose_16', 'z_pose_17', 'z_pose_18', 'z_pose_19', 'z_pose_20', 'z_pose_21', 'z_pose_22', 'z_pose_23', 'z_pose_24', 'z_pose_25', 'z_pose_26', 'z_pose_27', 'z_pose_28', 'z_pose_29', 'z_pose_30', 'z_pose_31', 'z_pose_32']

table = pq.read_table('d:/Bureau/DS/aCapstone/527708222.parquet', columns=columns_of_interest)
cdf = table.to_pandas()
cdf

,frame,x_right_hand_0,x_right_hand_1,x_right_hand_2,x_right_hand_3,x_right_hand_4,x_right_hand_5,x_right_hand_6,x_right_hand_7,x_right_hand_8,...,z_pose_23,z_pose_24,z_pose_25,z_pose_26,z_pose_27,z_pose_28,z_pose_29,z_pose_30,z_pose_31,z_pose_32
sequence_id,,,,,,,,,,,,,,,,,,,,,
1880607618,0,0.200624,0.302635,0.427209,0.531130,0.609704,0.466830,0.621508,0.720132,0.782646,...,-0.162131,0.168272,-0.037486,0.404005,1.276582,1.570643,1.318286,1.633371,0.062651,0.314512
1880607618,1,0.240830,0.374630,0.474594,0.547350,0.596090,0.453041,0.591468,0.683067,0.740463,...,-0.136024,0.141433,0.041872,0.344083,1.340694,1.408339,1.390278,1.482522,0.192373,0.216677
1880607618,2,0.235014,0.375686,0.485869,0.566487,0.630853,0.434785,0.536943,0.621403,0.682213,...,-0.141135,0.146788,-0.109030,0.310549,1.180241,1.382393,1.227441,1.447687,0.013639,0.167156
1880607618,3,0.252615,0.385305,0.487498,0.563021,0.643407,0.445335,0.525891,0.612506,0.690043,...,-0.146302,0.151999,-0.119314,0.254604,1.178714,1.224841,1.227554,1.292624,0.024260,0.009302
1880607618,4,0.294039,0.405612,0.502041,0.568720,0.631543,0.479026,0.542870,0.605044,0.662126,...,-0.153527,0.159551,-0.227373,0.150963,0.930902,0.949471,0.968373,0.998937,-0.236796,-0.257720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1912627838,89,0.266774,0.357957,0.415935,0.442117,0.414395,0.271646,0.259206,0.337859,0.368670,...,-0.145449,0.151864,0.071900,0.934476,1.528550,2.599374,1.597583,2.742445,0.393970,1.460342
1912627838,90,0.244922,0.342586,0.392606,0.409731,0.378050,0.240688,0.278423,0.343222,0.337006,...,-0.143819,0.150366,0.095805,0.853011,1.627043,2.312991,1.700490,2.438057,0.443149,1.234005
1912627838,91,0.230954,0.339997,0.389223,0.398273,0.359395,0.228129,0.315546,0.352227,0.322500,...,-0.147698,0.154105,0.093885,0.748713,1.616127,2.175098,1.686710,2.286521,0.455095,0.951585
1912627838,92,0.215118,0.330285,0.386708,0.394275,0.350286,0.213680,0.315475,0.344050,0.310601,...,-0.162679,0.169539,0.051004,0.891680,1.518905,2.448910,1.589152,2.579027,0.377908,1.322510
1912627838,93,0.205112,0.286439,0.359694,0.360352,0.326547,0.209858,0.289542,0.326281,0.312631,...,-0.163453,0.170233,0.046737,0.808762,1.505746,2.200535,1.576357,2.313532,0.392457,1.033715

In [44]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159737 entries, 1880607618 to 1912627838
Columns: 226 entries, frame to z_pose_32
dtypes: float32(225), int16(1)
memory usage: 138.6 MB

In [4]:
# Specify the number of rows you want to keep (in this case, 30,000)
num_rows_to_keep = 40107

# Use DataFrame slicing to select only the first 30,000 rows
reduced_df = cdf[:num_rows_to_keep]

# Now 'reduced_df' contains only the first 30,000 rows of the original DataFrame 'df'
reduced_df.tail(10)

,frame,x_right_hand_0,x_right_hand_1,x_right_hand_2,x_right_hand_3,x_right_hand_4,x_right_hand_5,x_right_hand_6,x_right_hand_7,x_right_hand_8,...,z_pose_23,z_pose_24,z_pose_25,z_pose_26,z_pose_27,z_pose_28,z_pose_29,z_pose_30,z_pose_31,z_pose_32
sequence_id,,,,,,,,,,,,,,,,,,,,,
1889194597,237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.212467,0.219760,-0.216419,0.554647,0.941297,1.600518,0.985774,1.678939,-0.122747,0.513253
1889194597,238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.202671,0.209900,-0.221928,0.596431,0.876993,1.675096,0.919642,1.754117,-0.272520,0.538907
1889194597,239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.206368,0.213502,-0.257335,0.668806,0.686410,1.706912,0.700564,1.783051,-0.535058,0.590749
1889194597,240,0.211145,0.299697,0.377033,0.416756,0.390703,0.300828,0.292533,0.331550,0.362589,...,-0.182412,0.189879,-0.236748,0.601819,0.746618,1.639129,0.761929,1.718554,-0.500284,0.545904
1889194597,241,0.259661,0.346610,0.419217,0.452936,0.456187,0.341913,0.343807,0.387341,0.433697,...,-0.226689,0.233686,-0.194264,0.849061,0.938508,2.171255,0.966238,2.281338,-0.322804,1.054094
1889194597,242,0.293540,0.380188,0.445382,0.480519,0.521557,0.387373,0.393184,0.442771,0.486210,...,-0.226418,0.233340,-0.063977,0.719934,1.163040,1.980953,1.204851,2.082672,-0.032002,0.843896
1889194597,243,0.324132,0.404965,0.470855,0.508212,0.557369,0.426497,0.430681,0.484099,0.529180,...,-0.217401,0.224046,-0.104506,0.419008,1.043961,1.390895,1.079365,1.460293,-0.114810,0.224111
1889194597,244,0.349544,0.429875,0.492972,0.527298,0.574678,0.456873,0.473039,0.526615,0.573421,...,-0.202579,0.208712,-0.065932,0.276495,1.123341,1.211558,1.166461,1.277241,0.016934,0.071297
1889194597,245,0.363576,0.447008,0.505395,0.542994,0.594771,0.461990,0.487438,0.554616,0.605582,...,-0.217099,0.222818,-0.085839,0.313904,1.050791,1.250910,1.088495,1.317916,-0.074060,0.120400
1889194597,246,0.376617,0.467129,0.516210,0.557677,0.605394,0.450785,0.521018,0.597762,0.662597,...,-0.190818,0.195910,-0.110302,0.166782,1.018001,0.996880,1.055224,1.052139,-0.096777,-0.137256

## I've made some test and verification, and observed that if there is ever a missing data for 'x_right_hand', than all right hand data is missing, and same for left hand. Therefore to simplify and speed the EDA on this part i will make a specific df 'tdf' for testdf to analyze further the position and patterns of missing data.

### `below will be the small df really useful to have answers easier to visualize regarding the missing data`

In [8]:
#if we are looking for missing value we have explored before that the number of the landmark doesn't make any difference.
columns_of_interest = ['sequence_id', 'frame','x_right_hand_0' , 'x_left_hand_0', 'x_pose_0' ]


table = pq.read_table('d:/Bureau/DS/aCapstone/527708222.parquet', columns=columns_of_interest)
test_df = table.to_pandas()
test_df

             frame  x_right_hand_0  x_left_hand_0  x_pose_0
sequence_id
1880607618       0        0.200624            NaN  0.515170
1880607618       1        0.240830            NaN  0.515566
1880607618       2        0.235014            NaN  0.515175
1880607618       3        0.252615            NaN  0.515144
1880607618       4        0.294039            NaN  0.514626
...            ...             ...            ...       ...
1912627838      89        0.266774            NaN  0.533969
1912627838      90        0.244922            NaN  0.533277
1912627838      91        0.230954            NaN  0.531930
1912627838      92        0.215118            NaN  0.525833
1912627838      93        0.205112            NaN  0.521581

[159737 rows x 4 columns]

In [10]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159737 entries, 1880607618 to 1912627838
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   frame           159737 non-null  int16
 1   x_right_hand_0  79071 non-null   float32
 2   x_left_hand_0   15819 non-null   float32
 3   x_pose_0        159737 non-null  float32
dtypes: float32(3), int16(1)
memory usage: 3.4 MB

Let's look at few hundreds of rows for right and left hand to have some understanding of the most common patterns.

In [9]:
rows = test_df.iloc[1050:1100]
rows

             frame  x_right_hand_0  x_left_hand_0  x_pose_0
sequence_id
1880710522     239        0.261832            NaN  0.762327
1880710522     240        0.263437            NaN  0.761998
1880710522     241        0.268146            NaN  0.761625
1880710522     242        0.266766            NaN  0.761475
1880710522     243        0.264296            NaN  0.762506
1880710522     244        0.262925            NaN  0.764503
1880710522     245        0.269693            NaN  0.765661
1880710522     246        0.277626            NaN  0.766420
1880773667       0        0.124537            NaN  0.479875
1880773667       1        0.026545            NaN  0.479548
1880773667       2        0.152756            NaN  0.479540
1880773667       3        0.183114            NaN  0.479203
1880773667       4        0.191748            NaN  0.479047
1880773667       5        0.146348            NaN  0.478810
1880773667       6        0.160402            NaN  0.481539
1880773667       7        0.080213            NaN  0.481469
1880773667       8        0.131448            NaN  0.481934
1880773667       9        0.153960            NaN  0.482026
1880773667      10        0.150008            NaN  0.481961
1880773667      11        0.221164            NaN  0.481905
1880773667      12             NaN            NaN  0.481876
1880773667      13             NaN            NaN  0.484318
1880773667      14        0.200375            NaN  0.486987
1880773667      15        0.145858            NaN  0.496458
1880773667      16        0.166433            NaN  0.500743
1880773667      17        0.145339            NaN  0.501883
1880773667      18        0.151490            NaN  0.502870
1880773667      19        0.156744            NaN  0.502968
1880773667      20        0.175783            NaN  0.503733
1880773667      21        0.142327            NaN  0.504238
1880773667      22        0.180974            NaN  0.504168
1880773667      23        0.139398            NaN  0.501845
1880773667      24             NaN            NaN  0.501546
1880773667      25        0.227696            NaN  0.498402
1880773667      26        0.191090            NaN  0.494961
1880773667      27        0.211034            NaN  0.493124
1880773667      28        0.184454            NaN  0.493095
1880773667      29        0.166298            NaN  0.493012
1880773667      30             NaN            NaN  0.493092
1880773667      31             NaN            NaN  0.492641
1880773667      32             NaN            NaN  0.492068
1880773667      33             NaN            NaN  0.491948
1880773667      34             NaN            NaN  0.492065
1880773667      35             NaN            NaN  0.486840
1880773667      36             NaN            NaN  0.478685
1880773667      37             NaN            NaN  0.478883
1880773667      38             NaN            NaN  0.479044
1880773667      39             NaN            NaN  0.479162
1880773667      40             NaN            NaN  0.479666
1880773667      41             NaN            NaN  0.480220

In [10]:
reduced_df.tail()

,frame,x_right_hand_0,x_right_hand_1,x_right_hand_2,x_right_hand_3,x_right_hand_4,x_right_hand_5,x_right_hand_6,x_right_hand_7,x_right_hand_8,...,z_pose_23,z_pose_24,z_pose_25,z_pose_26,z_pose_27,z_pose_28,z_pose_29,z_pose_30,z_pose_31,z_pose_32
sequence_id,,,,,,,,,,,,,,,,,,,,,
1889194597,242,0.293540,0.380188,0.445382,0.480519,0.521557,0.387373,0.393184,0.442771,0.486210,...,-0.226418,0.233340,-0.063977,0.719934,1.163040,1.980953,1.204851,2.082672,-0.032002,0.843896
1889194597,243,0.324132,0.404965,0.470855,0.508212,0.557369,0.426497,0.430681,0.484099,0.529180,...,-0.217401,0.224046,-0.104506,0.419008,1.043961,1.390895,1.079365,1.460293,-0.114810,0.224111
1889194597,244,0.349544,0.429875,0.492972,0.527298,0.574678,0.456873,0.473039,0.526615,0.573421,...,-0.202579,0.208712,-0.065932,0.276495,1.123341,1.211558,1.166461,1.277241,0.016934,0.071297
1889194597,245,0.363576,0.447008,0.505395,0.542994,0.594771,0.461990,0.487438,0.554616,0.605582,...,-0.217099,0.222818,-0.085839,0.313904,1.050791,1.250910,1.088495,1.317916,-0.074060,0.120400
1889194597,246,0.376617,0.467129,0.516210,0.557677,0.605394,0.450785,0.521018,0.597762,0.662597,...,-0.190818,0.195910,-0.110302,0.166782,1.018001,0.996880,1.055224,1.052139,-0.096777,-0.137256

In [11]:
# Display information about the DataFrame
print(reduced_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40107 entries, 1880607618 to 1889194597
Columns: 226 entries, frame to z_pose_32
dtypes: float32(225), int16(1)
memory usage: 34.8 MB
None

In [12]:
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159737 entries, 1880607618 to 1912627838
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   frame           159737 non-null  int16
 1   x_right_hand_0  79071 non-null   float32
 2   x_left_hand_0   15819 non-null   float32
 3   x_pose_0        159737 non-null  float32
dtypes: float32(3), int16(1)
memory usage: 3.4 MB
None

In [14]:
test_df['frame'].describe()

count    159737.000000
mean        100.526434
std          77.515498
min           0.000000
25%          41.000000
50%          84.000000
75%         142.000000
max         477.000000
Name: frame, dtype: float64

In [14]:
num_frame_zero = (test_df['frame'] == 0).sum()
print("Number of occurrences where 'frame' is equal to 0:", num_frame_zero)

Number of occurrences where 'frame' is equal to 0: 1000

In [15]:
# To count the number of individual 'sequence_id':
sequence_id_count = test_df.index.nunique()

# To display the count:
print("Number of individual 'sequence_id':", sequence_id_count)

Number of individual 'sequence_id': 1000

There is indeed 1000 individual clip on the entire parquet file. One of the assumption now is that the parquet file have been divided by number of 1000 clips.

In [43]:
df.describe()

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
count,159737.000000,158079.000000,158079.000000,158079.000000,158079.000000,158079.000000,158079.000000,158079.000000,158079.000000,158079.000000,...,79071.000000,79071.000000,79071.000000,79071.000000,79071.000000,79071.000000,79071.000000,79071.000000,79071.000000,79071.000000
mean,100.526434,0.563034,0.556766,0.560131,0.545142,0.556270,0.557161,0.560540,0.456035,0.561187,...,-0.130040,-0.138822,-0.065295,-0.123681,-0.133699,-0.127837,-0.083726,-0.127713,-0.131378,-0.125190
std,77.515498,0.128096,0.125487,0.126958,0.127104,0.125449,0.126134,0.128533,0.133690,0.129601,...,0.064634,0.070789,0.044368,0.057992,0.062825,0.069787,0.046848,0.057291,0.062557,0.068797
min,0.000000,0.139401,0.139812,0.142262,0.114280,0.137150,0.133039,0.122294,-0.003946,0.113283,...,-0.769656,-0.859035,-0.401512,-0.594859,-0.710160,-0.775224,-0.406312,-0.575031,-0.660658,-0.715704
25%,41.000000,0.503193,0.497401,0.500473,0.485545,0.496700,0.497231,0.499582,0.396208,0.499447,...,-0.158860,-0.170374,-0.085129,-0.151818,-0.163864,-0.161134,-0.105896,-0.156339,-0.162685,-0.159375
50%,84.000000,0.583452,0.574527,0.578947,0.564059,0.574055,0.575168,0.579094,0.480648,0.579747,...,-0.118786,-0.126397,-0.056718,-0.114286,-0.122702,-0.115975,-0.074949,-0.118292,-0.120805,-0.114165
75%,142.000000,0.647753,0.639609,0.644261,0.628990,0.639161,0.640669,0.646546,0.543821,0.648506,...,-0.088001,-0.092064,-0.035320,-0.085261,-0.091183,-0.079632,-0.051505,-0.088429,-0.088077,-0.077192
max,477.000000,1.009768,1.005770,1.010701,0.989611,1.005418,1.006906,1.011670,0.854268,1.013019,...,0.416102,0.443820,0.239639,0.334144,0.366041,0.384823,0.220229,0.296663,0.334309,0.360645

In [ ]:
file_path2 = 'd:/Bureau/DS/aCapstone/527708222.parquet'
# Open the Parquet file using ParquetFile
parquet_file2 = pq.ParquetFile(file_path2)

# Define the row group index you want to read
# For example, to read the first row group, use index 0
row_group_index2 = 0

# Read the specific row group from the Parquet file
row_group_table2 = parquet_file2.read_row_group(row_group_index2)

# Convert the row group to a pandas DataFrame
df2 = row_group_table2.to_pandas()

# Now you have a DataFrame with a part of the data from the Parquet file
df2.head(5)

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1880607618,0,0.487255,0.492607,0.494152,0.480811,0.492845,0.494270,0.498394,0.368207,0.500288,...,-0.196956,-0.211209,-0.142313,-0.193477,-0.205450,-0.208683,-0.175401,-0.209275,-0.210895,-0.208162
1880607618,1,0.488399,0.492968,0.494502,0.480484,0.493159,0.494415,0.497935,0.367207,0.499401,...,-0.171502,-0.190701,-0.119451,-0.172471,-0.190162,-0.196562,-0.155715,-0.194636,-0.196822,-0.193751
1880607618,2,0.491521,0.493348,0.495074,0.480274,0.493283,0.494308,0.497388,0.367744,0.498564,...,-0.154713,-0.179518,-0.115403,-0.165406,-0.195193,-0.215218,-0.156990,-0.203963,-0.222674,-0.234745
1880607618,3,0.486116,0.488677,0.490791,0.475851,0.488651,0.489896,0.493834,0.366394,0.495337,...,-0.173814,-0.202558,-0.130080,-0.186153,-0.220297,-0.244129,-0.178186,-0.233190,-0.258209,-0.275004
1880607618,4,0.492289,0.495260,0.498130,0.480569,0.494592,0.494893,0.496912,0.366336,0.497359,...,-0.117347,-0.142112,-0.075403,-0.122787,-0.162759,-0.189201,-0.105377,-0.156895,-0.184629,-0.201269

####  The data should not have any videos or image, but let's confirm :

In [ ]:
#import cv2 
#no need to run if as it takes time, the result is that there is indeed no video in the parquet file
def has_video(parquet_file_path):
    try:
        # Read the Parquet file
        table = pq.read_table(parquet_file_path)

        # Get the first row of the table
        first_row = table[0]

        # Get the first column of the first row
        first_column = first_row[0]

        # Convert the PyArrow array to a NumPy array
        array = first_column.to_numpy()

        # Decode the data using OpenCV
        frame = cv2.imdecode(array, cv2.IMREAD_UNCHANGED)

        # Check if the decoded frame is not empty and is a video frame
        if frame is not None and len(frame.shape) == 3 and frame.shape[2] > 1:
            return True

    except Exception as e:
        # Handle any exceptions (e.g., file not found, invalid Parquet file, etc.)
        print("Error:", e)

    return False

# Example usage
parquet_file_path = "d:/Bureau/DS/aCapstone/175396851.parquet"
if has_video(parquet_file_path):
    print("The Parquet file contains video data.")
else:
    print("The Parquet file does not contain video data.")

Error: 'pyarrow.lib.Int16Scalar' object has no attribute 'to_numpy'
The Parquet file does not contain video data.

#### There is indeed no videos or images in the file.

In [19]:
test_df['frame'].describe()

count    159737.000000
mean        100.526434
std          77.515498
min           0.000000
25%          41.000000
50%          84.000000
75%         142.000000
max         477.000000
Name: frame, dtype: float64

In [18]:
# Count the number of missing values in the 'x_left_hand_10' column
missing_x_left_hand_10_count = test_df['x_left_hand_0'].isna().sum()

# Print the count of rows where 'x_left_hand_10' has no value
print("Number of left hand with no value:", missing_x_left_hand_10_count)

Number of left hand with no value: 143918

In [ ]:
# Count the number of missing values in the 'x_left_hand_10' column
missing_x_left_hand_0_count = test_df['x_right_hand_0'].isna().sum()

# Print the count of rows where 'x_left_hand_10' has no value
print("Number of left hand with no value:", missing_x_left_hand_10_count)

Number of 'x_left_hand_10' with no value: 21709

In [25]:
# Calculate the counts of missing values in 'x_left_hand_0' and 'x_right_hand_0' columns
missing_x_left_hand_0_count = test_df['x_left_hand_0'].isna().sum()
missing_x_right_hand_0_count = test_df['x_right_hand_0'].isna().sum()

# Calculate the percentages of missing values relative to the total number of rows (159737)
total_rows = 159737
missing_x_left_hand_0_percentage = (missing_x_left_hand_0_count / total_rows) * 100
missing_x_right_hand_0_percentage = (missing_x_right_hand_0_count / total_rows) * 100

# Print the counts of rows where both 'x_left_hand_0' and 'x_right_hand_0' have no value
print("Number of left hand with no value out of 159737 rows:", missing_x_left_hand_0_count)
print("Percentage of missing left hand values: {:.2f}%".format(missing_x_left_hand_0_percentage))
print("Number of right hand with no value out of 159737 rows:", missing_x_right_hand_0_count)
print("Percentage of missing right hand values: {:.2f}%".format(missing_x_right_hand_0_percentage))

Number of left hand with no value out of 159737 rows: 143918
Percentage of missing left hand values: 90.10%
Number of right hand with no value out of 159737 rows: 80666
Percentage of missing right hand values: 50.50%

In [23]:
# Check for missing values in 'x_left_hand_0' and 'x_right_hand_0' columns
is_x_left_hand_0_missing = test_df['x_left_hand_0'].isna()
is_x_right_hand_0_missing = test_df['x_right_hand_0'].isna()

# Combine the conditions using the logical AND operator
# This gives True for rows where both 'x_left_hand_0' and 'x_right_hand_0' have no value
rows_with_both_missing = is_x_left_hand_0_missing & is_x_right_hand_0_missing

# Count the number of rows where both 'x_left_hand_0' and 'x_right_hand_0' have no values
count_both_missing = rows_with_both_missing.sum()

# Print the count of rows where both 'x_left_hand_0' and 'x_right_hand_0' have no values
print("Number of rows with missing values for both left hand and right hand out of 159737 rows:", count_both_missing)

Number of rows with missing values for both left hand and right hand out of 159737 rows: 65524

In [20]:
# Check for missing values in 'x_left_hand_0' and 'x_right_hand_0' columns
both_missing_rows = test_df['x_left_hand_0'].isna() & test_df['x_right_hand_0'].isna()

# Count the number of rows where both 'x_left_hand_0' and 'x_right_hand_0' have no values
count_both_missing = both_missing_rows.sum()

# Calculate the percentage of rows with missing values for both 'x_left_hand_0' and 'x_right_hand_0'
percentage_both_missing = (count_both_missing / 159737) * 100

# Print the count of rows where both 'x_left_hand_0' and 'x_right_hand_0' have no values and the percentage
print("Number of rows with missing values for both left hand and right hand out of 159737 rows:", count_both_missing)
print("Percentage of rows with missing values for both 'left hand and right hand: {:.2f}%".format(percentage_both_missing))

Number of rows with missing values for both left hand and right hand out of 159737 rows: 65524
Percentage of rows with missing values for both 'left hand and right hand: 41.02%

### Now let's see the average number of frame we have.

In [33]:

# To find the maximum value for each 'sequence_id':
max_values_per_sequence = test_df.groupby(level='sequence_id').max()

# To display the result:
print(max_values_per_sequence)

             frame  x_right_hand_0  x_left_hand_0  x_pose_0
sequence_id
1880607618     203        0.358531            NaN  0.526337
1880621984      85        0.341914            NaN  0.557909
1880638439     205        0.357306            NaN  0.551323
1880671242     192        0.612402            NaN  0.628354
1880690541     121             NaN       0.723428  0.226055
...            ...             ...            ...       ...
1912534365      76             NaN       0.785545  0.424770
1912545249     124        0.358662            NaN  0.707990
1912581632     172        0.363829            NaN  0.789940
1912612641      96        0.351953            NaN  0.776759
1912627838      93        0.345544            NaN  0.569577

[1000 rows x 4 columns]

In [35]:
# To find the maximum value for each 'sequence_id':
max_values_per_sequence = test_df.groupby(level='sequence_id').max()

# To calculate the average of the maximum values:
average_max_value = max_values_per_sequence.mean()

# To display the result:
print("Average of the maximum values:", average_max_value)

Average of the maximum values: frame             159.205000
x_right_hand_0      0.358610
x_left_hand_0       0.743141
x_pose_0            0.613111
dtype: float64

Here the average of frame is 159(+1) indeed and not 100 what we would see from the describe(). To find the 159(+1) we actually could have also do 159737 / 1000 as the number of total rows and 1000 as the number of individual clip we figured out previously.

Let's see the maximum number of frame. (ps : we can't look at the other stats as biased from the fact every clip start from 0)

In [27]:
test_df['frame'].describe()

count    159737.000000
mean        100.526434
std          77.515498
min           0.000000
25%          41.000000
50%          84.000000
75%         142.000000
max         477.000000
Name: frame, dtype: float64

Next step, understand better those no value, how distribuate are they per clip.

### `Findings : cf to the top of the document.`

### `Summary : there is a large amount of data which is rather clean already. We will want to do some feature reduction, potentially add angles features. A large amount of missing data are present and will be one of the challenge to take into account further in the line during preprocessing. `

<!-- This is at the bottom of the file -->
<a id="bottom"></a>